@page "/BeautyTechs"
@rendermode InteractiveServer
<h5>Мастера</h5>
<a href="AddBeautyTech"
   class="btn btn-primary btn-icon" title="Create">
    <i class="bi bi-plus-square"></i></a>
<div class="table-responsive-sm mt-3">
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
        <th scope="col">№</th>
        <th scope="col">Имя</th>
        <th scope="col">Номер телефона</th>
        <th scope="col">Процедуры</th>
        <th scope="col"></th>
        </thead>
        <tbody>
        @foreach (var beautyTech in beautyTechs)
        {
            <tr>
                <td>@Increment()</td>
                <td>@beautyTech.Name</td>
                <td>@beautyTech.PhoneNumber</td>

                <td>@string.Join(", ", beautyTech.Procedures.Select(p => p.Name))</td>

                <td>
                    <div class="d-flex gap-1">
                        <NavLink href="@($"/EditBeautyTech/{beautyTech.Id}")" class="btn btn-primary btn-icon btn-sm">
                            <i class="bi bi-pencil-square"></i>
                        </NavLink>

                        <button type="button" class="btn btn-danger btn-icon btn-sm"
                                @onclick="() => DeleteAsync(beautyTech)">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
