@page "/Accounts"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Authorization
<h5>Accounts</h5>
<div class="table-responsive-sm mt-3">
    <table class="table table-bordered table-hover">
        <thead>
        <th scope="col">№</th>
        <th scope="col">Email</th>
        <th scope="col">Имя</th>
        <th scope="col">Роль</th>
        <th scope="col"></th>
        </thead>
        <tbody>
        @foreach (var user in users)
        {
            <tr>
                <td>@Increment()</td>
                <td>@user.Email</td>
                <td>@user.FirstName</td>
                <td>@user.Role</td>
                <td>
                    <div class="d-flex gap-1">
                        <NavLink href="@($"EditAccount/{user.Id}")" class="btn btn-primary btn-icon btn-sm">
                            <i class="bi bi-pencil-square"></i>
                        </NavLink>
                        <button type="button" class="btn btn-danger btn-icon btn-sm"
                                @onclick="() => DeleteAsync(user)">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </div>
                </td>

            </tr>
        }
        </tbody>
    </table>
</div>